@font-face{
	font-family: Moonshiner;
	src: url('../assets/Moonshiner-Regular.otf');
}

html{
	height: 100%;
	
}


body{
	height: 100%;
	padding: 40px 0;
	background: url('../assets/skyline.jpg');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Moonshiner;
}

body #logo{
	width: 50%;
	min-width: 350px;
}

body .row{
	padding-bottom: 100px;
}

body .button{
	border-radius: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-color: black;
}

#fb{
	height: 40px;
	cursor: pointer;
}

#login{
	background-color: rgba(255,255,255, 0.9);
	border: #E0E0E0 1px solid;
	border-radius: 3px;
	margin: 10px auto;
	padding: 10px;
	height: auto;
	width: 600px;
}

#login input{
	text-align: center;
}

.active{
	display: none;
}
