.listing{
	height: 300px;
	width: 100%;
	background-color: #F1F3EE;
	padding: 30px;
}

.listing .listing-left{
	height: 100%;
	display: inline-block;
}

.listing .listing-left img{
	height: 100%;
}

.listing .listing-right{
	height: 100%;
	display: inline-block;
}
