@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.row img{
	height: 300px;
	border: black 2px solid;
	margin: 0 auto;
	display: block;
}

.container{
	background-color: #F1F3EE;
}

.row{
	margin-top: 30px;
	padding: 0 100px;
}

p{
	font-family: 'Open Sans', sans-serif;
}

footer{
	position: relative;
	background-color: #DEDEDE;
	border: 1px solid #979797;
	bottom: 0;
	text-align: center;
}