<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">

</head>
<body>
	<header id="sticky active">
		<a href="{% url 'index' %}"><img id="logo" src="{% static 'assets/logo.png' %}"></a>
		<nav class="menu">

			<ul class="active">
				<li><a href="{% url 'listings' %}">MY LISTINGS</a></li>
				<li><a href="#">ROOMMATES</a></li>
				<li><a href="#">OPEN HOUSE</a></li>
				<li><a href="{% url 'profile' %}">MY PROFILE</a></li>
			</ul>


			<a class="toggle-nav" href="#">&#9776;</a>
		</nav>
		
	</header>


	<div class="container">
		
		<section id="top">
			<h1>FEATURED LISTINGS</h1>
		</section>

		{% for listing in listings %}
		<a href="{% url 'property' listing.listing_id%}" style="color: black;">
			<div class="listing row">
				<div class="small-4 columns">
					<img src="{{ listing.image_urls.0 }}">
				</div>
				<div class="small-8 columns">
					<p>{{ listing.address }} </p>
					<p>{{ listing.city }} {{ listing.state }} {{ listing.zip }}</p>
					<p>{{ listing.num_beds}} Bedroom/{{ listing.num_baths }} Bath</p>
					<p>{{ listing.sqft }} square feet</p>
					<p>${{ listing.price }} / month</p>
				</div>
			</div>
		</a>
		{% endfor %}

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>
