<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">

</head>
<body>
	<header id="sticky active">
		<img id="logo" src="{% static 'assets/logo.png' %}">
		<nav class="menu">

			<ul class="active">
				<li>MY LISTINGS</li>
				<li>ROOMMATES</li>
				<li>OPEN HOUSE</li>
				<li>MY PROFILE</li>
			</ul>


			<a class="toggle-nav" href="#">&#9776;</a>
		</nav>
		
	</header>


	<div class="container">
		
		<section id="top">
			<h1>FEATURED LISTINGS</h1>
		</section>

		<section class="listing">
			<div class="listing-left">
				<img src="{%  static 'assets/house.jpg' %}">
			</div>
			<div class="listing-right">
				asdf
			</div>
		</section>



	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>