<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">

</head>
<body>
	{% include "rentals/templates/rentals/nav.html" %}


	<div class="container">
		
		<section id="top">
			<h1>FEATURED LISTINGS</h1>
		</section>

	<!--
	Listing filters to implement:
		Cost
		Size
		
	Other potential filters:
		Location
		Number of bedrooms
		Number of bathrooms
		Whole room or just bedroom available?
		Apartment floor number
		Elevator or stairs?
		24 hour security?
		Furnished?
	-->

		{% for listing in listings %}
		<a href="{% url 'property' listing.listing_id%}" style="color: black;">
			<div class="listing row">
				<div class="small-4 columns">
					<img src="{{ listing.image_urls.0 }}">
				</div>
				<div class="small-8 columns">
					<p>{{ listing.address }} </p>
					<p>{{ listing.city }} {{ listing.state }} {{ listing.zip }}</p>
					<p>{{ listing.num_beds}} Bedroom/{{ listing.num_baths }} Bath</p>
					<p>{{ listing.sqft }} square feet</p>
					<p>${{ listing.price }} / month</p>
				</div>
			</div>
		</a>
		{% endfor %}

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>
