<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/property.css' %}">

</head>
<body>
	{% include "rentals/templates/rentals/nav.html" %}

	<div class="container">
<!-- 		<section id="top">
			<h1>FEATURED LISTINGS</h1>
		</section>
 -->
		{% for listing in listings %}
		{% if listing.listing_id == listingID %}
		<div class="row">
		  <div class="small-7 columns" style="padding: 0">
		  	<img src="{{listing.image_urls.0}}">
		  </div>

		  <div class="small-5 columns">
		  	<h3><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ listing.address}}</h3>
		  	<h3><i class="fa fa-usd" aria-hidden="true"></i>${{ listing.price}}/MONTH</h3>
		  	<h3><i class="fa fa-user" aria-hidden="true"></i>{{ listing.contact.name}}</h3>
		  	<h3><i class="fa fa-home" aria-hidden="true"></i>{{ listing.open_house_start }} - {{ listing.open_house_end }}</h3>
		  </div>
		</div>

		<div class="row">
			<h3>DESCRIPTION</h3>
			<p>Lorem ipsum dolor sit amet, cu suscipit complectitur has. Ne sed invidunt recteque accommodare, hinc dicat vix ad. Eu mel audire definiebas repudiandae, in paulo dicam partiendo nam. Everti propriae apeirian mei no, quo laudem aliquip atomorum ut. Brute putent graeco sed at, mel admodum vulputate ea, te duo patrioque splendide.</p>
		</div>

		<div class="row">
			<a style="margin: 0 auto; display: block; width: 160px;" href="{% url 'listings' %}" class="large secondary hollow button">Get Started</a>
		</div>
		

		<div class="row">
			<h3>REVIEWS</h3>
			<p>Lorem ipsum dolor sit amet, cu suscipit complectitur has. Ne sed invidunt recteque accommodare, hinc dicat vix ad. Eu mel audire definiebas repudiandae, in paulo dicam partiendo nam. Everti propriae apeirian mei no, quo laudem aliquip atomorum ut. Brute putent graeco sed at, mel admodum vulputate ea, te duo patrioque splendide.</p>
		</div>


		{% endif %}
		{% endfor %}

		<footer>
			<h3>LEAVE A REVIEW</h3>
		</footer>

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>
