<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/roommates.css' %}">

</head>
<body>
	{% include "rentals/templates/rentals/nav.html" %}


	<div class="container">
		
		<section id="top">
			<h1>ROOMMATES</h1>
		</section>

		{% for listing in listings %}
		
		{% endfor %}

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
</body>
</html>
