<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/roommates.css' %}">

</head>
<body>
	{% include "rentals/templates/rentals/nav.html" %}

	<!--
	Potential roommmate filters:
		Budget
		Smoking?
		Shared room?
		Pets?
		Location?
		Gender?
	-->

	<div class="container">
		
		<section id="top">
			<h1>POTENTIAL ROOMMATES</h1>
			<i class="fa fa-filter fa-2x" id="filter-icon" aria-hidden="true" style=""></i>
			
		</section>

		<section id="filter">
			<div id="container1">
				<div class="row" style="text-align: center;">
					<div class="small-4 columns">
						 <input type="checkbox"><label for="checkbox1">PETS</label>
					</div>
					<div class="small-4 columns">
						<input type="checkbox"><label for="checkbox1">SMOKING</label>
					</div>
					<div class="small-4 columns">
						 <input type="checkbox"><label for="checkbox1">SHARED ROOM</label>
					</div>
				</div>
				
				<div class="row" style="padding-left: 75px;">
					<div class="small-6 columns">
						 <label>
					        <select style="width: 80%;">
					          <option value="husker">San Fransisco</option>
					          <option value="starbuck">Palo Alto</option>
					          <option value="hotdog">Mountain View</option>
					          <option value="apollo">Menlo Park</option>
					        </select>
					        LOCATION
					      </label>
					</div>
					<div class="small-6 columns">
						 <label>
					        <select style="width: 60%;">
					          <option value="husker">$0-$2k</option>
					          <option value="starbuck">$0-$4k</option>
					          <option value="hotdog">$0-$6k</option>
					          <option value="apollo">$0-$10k</option>
					        </select>
					        BUDGET
					      </label>
					</div>
				</div>
				  

				  
			</div>
			
		</section>

		<section id="search">
			<input style="height: 100%; font-size: 36px;" type="text"></input>
			<i id="search-icon" class="fa fa-search fa-2x" aria-hidden="true"></i>
		</section>

		{% for roommate in roommates %}
			<a href="{% url 'user' roommate.user_id%}" style="color: black;">
				<div class="roommate row">
					<div class="small-4 columns">
						<img src="http://cdn.journalism.cuny.edu/blogs.dir/87/files/2009/10/Chang_PortraitAssignment_1LH.jpg">
					</div>
					<div class="small-8 columns" style="position: relative;">
						<p>{{ roommate.name }}</p>
						<p>${{ roommate.target_price.0}} - ${{ roommate.target_price.1}}</p>
						<p>Looking in {{ roommate.target_neighborhood}}</p>
						<i style="right: 0; bottom: 10px;"class="fa fa-facebook fa-2x" aria-hidden="true"></i>
						<i style="right: 32px; bottom: 10px;"class="fa fa-twitter fa-2x" aria-hidden="true"></i>
						<i style="right: 80px; bottom: 10px;"class="fa fa-instagram fa-2x" aria-hidden="true"></i>

					</div>
				</div>
			</a>
		{% endfor %}

	</div>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
	<script type="text/javascript">
		$('.fa-filter').click(function(){
			$('section#filter').toggleClass('filter-active');
			if($('section#filter').hasClass('filter-active')){
				$('#search-icon').css('top', '345px');
			}
			else{
				$('#search-icon').css('top', '165px');
			}
		});

		//165, 245
	</script>
</body>
</html>
